<%- include ("./partials/_header") %>
<%- include ("./partials/navbar") %>

<link rel="stylesheet" type="text/css" href="../../css/home.css">
<div class="homeBanner">
    <div class="bannerColLeft">
        <h1>Learning from Home</h1>
        <h3>Keeping up with online education</h3>
        <a href="/all-posts" class="button1">See the latest</a>
    </div>
    <div class="bannerColRight">
    </div>
</div>

<div class="divQuote">
    <h2 id="quote">“The more that you read, the more things you will know. 
        The more that you learn, the more places you’ll go.”</h2>
    <h3 id="quoteAuthor">-Dr. Seuss</h3>
</div>

<a id="teachers"></a>
<div class="teachersMain" id="teachers">
    <h2 id="h2-teachers">Meet the teachers</h2>
    <div class="teachersCards"> 
        <div class="singleTeacher">
            <img src="/img/Avatar_teacher01.png" class="teacherAvatar" >
            <h3 class="teacherName">Mrs. Puff</h3>
            <p class="teacherTitle"> Law, driving and patience</p>
        </div>
        <div class="singleTeacher">
            <img src="/img/Avatar_teacher02.png" class="teacherAvatar" >
            <h3 class="teacherName">Mr. Crocker</h3>
            <p class="teacherTitle"> Math, English and magical creature hunting</p>
        </div>
        <div class="singleTeacher">
            <img src="/img/Avatar_teacher03.png" class="teacherAvatar" >
            <h3 class="teacherName">Ms. Frizzle </h3>
            <p class="teacherTitle"> Science, astrology and traveling</p>
        </div>
    </div>

</div>
<a id="aboutUs"></a>
<div class="aboutUs">
    <div class="aboutColLeft">
        <img src="/img/aboutUs.png" class="imgAboutUs" >
    </div>
    <div class="aboutColRight">
        <h1>Mel & Nat</h1>
        <h3>Two CS students learning about Web development</h3>
    </div>
</div>
<%- include ("./partials/_footer") %>