.list{
    background-color: #974ccd1a;
    padding: 30px;
}
.newPost{
    padding: 1vh;
    text-align: center;
}
a.btn-custom{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFB700 ;
    background-color:#FFB700 ;
    margin:1rem 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:white ;
    text-align:center;
    transition: all 0.2s;
    font-size: 20px;
    }
a.btn-custom:hover{
color: #FFB700;
border:0.1em solid #FFB700 ;
background-color:white ;
}
.postCard{
    display: flex;
    margin-top: 20px;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
}
.postCardDateColumn{
    width: 10%;
    margin-left: -10%;
}
.postCardMain{
    width: 100%;
    padding: 10px;
}
.postCardDate{
    text-align: center;
    background-color: #974CCD;
    padding: 1rem;
    color: white;
    border-radius: 15px 0px 15px 15px;
}
.hrDate{
    margin: 0;
    color: white;
    border: none;
    height: 1px;
    background-color:white; 

}
.imgCard{
    height: 400px;
    object-fit: cover;
    width: 100%;
    padding: 20px;
}
