nav .navbar-nav li a {
  color: white !important;
}
nav .navbar-nav li a:hover {
    color: #eee !important;
    text-decoration: underline;
  }

.navbar-custom {
  background-color: #503890;
  padding: 1vh 5vh 1vh 5vh;
}

.imgNav{
    -webkit-filter: invert(100%);
    height: 50px;
    width: auto;
}
